body {background:#000;margin:5% 15%;color:#ccc;font-size:28px;font-family:"Source Sans 3";font-weight:222;text-align:center;line-height:150%;user-select:none;overflow:hidden}
b {font-weight:444}
table {table-layout:fixed;width:444px;margin:auto}
tr {height:128px}
td svg {height:64px}
h1 {font-size:64px;font-weight:222}
a {color:#ccc;text-decoration:none;font-weight:367}
#l {font-size:16px}
#l,#ta,#tb,#tc,#td {display:none}
#footer {position:fixed;top:80%;right:0;left:0}